body {
    margin: 0;
    font-family: "Smythe", system-ui;
} 

.intro {
    background-image: url('https://images.unsplash.com/photo-1616645500344-209060c84970?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    padding: 20px 60px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title1, .title2 {
    color: #ffff;
}

.leftSec {
    display: flex;
    justify-content: space-around;
    width: 300px;

}

.orderList {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    /* border: 1px solid green; */
}

.itemDish {
    margin-top: 50px;
    width: 200px;
}

.emoji {
    font-size: 70px;
}

.addbtn {
   margin-left: auto;
   
}

.itemIng {
    color: #8B8B8B;
    margin-top: 7px;
}

.itemName {
    margin-bottom: 0;
}

.btn {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 17px;
    font-weight: 100;
    color: 3C3C3C;
    background-color: #ffff;
    border: 1px solid #DEDEDE;
    margin-left: 12px;
}

.orders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.eachOrder {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: -10px;
}

.orderTitle {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}

.checkout, .total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

.checkoutNames {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.checkoutPrice {
    width: 20px;
    text-align: center;
    margin-left: 20px;  
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: -10px;
    border-top: 2px solid black;
    margin: 0;
    padding: 0;
}

.orderbtn {
    padding: 17px 200px;
    font-family: "Jost", sans-serif;
    background-color: #16DB99;
    color: white;
    border: none;
    border-radius: 2px;
}

.btn2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight:900
}

.remove {
    font-size: 10px;
    font-family: "Jost", sans-serif;
    margin: 30px 0 0 10px;
    color: #BBBBBB;
}

.pymtcontainer {
    width: 60%;
    border: 1px solid green;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: white;
}

.payment {
    display: flex;
    justify-content: center;
}

.pymtdetails {
    width: 75%;
    padding: 15px;
}

.inputStyle {
    margin: 20px 0px;
}

.pymtTitle {
    font-family: "Jost", sans-serif;
    margin: 40px 0;
    font-size: 25px;
}

input::placeholder {
    font-family: "Jost", sans-serif;
}

.payBtn {
    padding: 17px 160px;
    font-family: "Jost", sans-serif;
    background-color: #16DB99;
    color: white;
    border: none;
    border-radius: 2px;
}

.payment {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#pymtSect {
    display: none;
}

.compMsg {
    text-align: center;
    font-size: 30px;
}

.compliments {
    width: 80%;
    background-color: #ECFDF5;
    margin: 0 auto;
    padding: 1px 0;
}